h1{
            color: mediumblue;
            font-family: 'Pacifico', cursive;
            font-size: 395%;
            padding-left: 0px;
    
}

  
h7{
    font-size: 400%;
    padding-left: 800px;
    
}

nav{
    background-color: black
}